  .tweet.highlight
    .span-3
      .time 4:17am
      .date 1 day ago
      .date= link_to 'Location'
    %blockquote If I was a celebrity, my tweets would be a shit ton more interesting. But I'm not. So  deal with that shit. <a>#tryingtolosefollowers</a>