%div{:class => (tweet.tweeted_at.to_date == Date.today) ? "tweet today" : "tweet"}
  .span-3
    .time
      = tweet.tweeted_at.strftime('%I:%M%p').downcase.gsub(/^0/, '')
    .date
      == #{time_ago_in_words(tweet.tweeted_at)} ago
  %blockquote
    = tweet.text  